@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fb2e86 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2rem !important;
  color: #fb2e86 !important;
  font-weight: 600 !important;
}

@layer base {
  section {
    @apply py-8;
  }

  input {
    @apply border border-gray-300 rounded outline-none p-2;
  }

  textarea {
    @apply border border-gray-300 rounded outline-none p-2;
  }

  select {
    @apply outline-none;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2;
  }

  .btn-primary {
    @apply bg-[#FB2E86] text-white hover:bg-[#e02777];
  }

  .btn-secondary {
    @apply bg-[#08D15F] text-white hover:bg-[#0bc75d];
  }

  .bg-primary {
    @apply bg-[#fb2e86];
  }

  .text-primary {
    @apply text-[#151875];
  }

  .text-secondary {
    @apply text-[#FB2E86];
  }

  .sub-text {
    @apply text-[#8A8FB9];
  }

  .input-primary {
    @apply px-3 py-2 border-2 border-gray-200 outline-none;
  }

  .section-bg {
    @apply bg-[#ECD2FA/50];
  }

  /* Cards */
  .promo-card {
    @apply px-5 py-8;
  }

  .promo-card-1 {
    @apply bg-gradient-to-r from-[#5465FF] to-[#B654EF];
  }

  .promo-card-2 {
    @apply bg-gradient-to-r from-[#4E5AFF] to-[#5D8DFF];
  }

  /* Footer Section */
  .top-footer {
    @apply bg-[#EEEFFB] py-20;
  }

  .bottom-footer {
    @apply bg-[#E7E4F8] py-4;
  }
}
